body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/logo.png);
  background-size: cover;
  background-attachment: fixed;
  object-fit: contain;
}

.nav {
  top: 0;
  width: 100%;
  height: 120px;
  background-color: white;
  flex-wrap: nowrap;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

img {
  height: 110px;
  width: 350px;
  /*   background-image: url(./images/logo.png);
 */
}
